<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.sqm.pojo.School" id="sqmSchool">
        <property name="name" value="swjtu"/>
    </bean>

    <bean class="com.sqm.pojo.Student" id="sqm">
        <property name="name" value="sqm"/>
        <property name="age" value="22"/>
        <property name="school" ref="sqmSchool"/>
    </bean>

</beans>